
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: #edeff2;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.centered-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.large-rectangle {
    width: 730px;
    height: 565px;
    background-color: #452f33;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.barra-superior {
    width: 730px;
    height: 130px;
    background-color: #853449;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: calc(50% - 292.5px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo {
    width: 359px;
    height: 111px;
}

.input-wrapper {
    position: absolute;
    top: calc(50% - 30px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.input-consulta {
    width: 519px;
    height: 30px;
    padding: 10px;
    background-color: #db8194;
    color: #edeff2;
    font-size: 20px;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: left;
    border: none;
}
.input-consulta::placeholder {
    color: #edeff2; /* Cambia el color a rojo */
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
}


.enter-button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    background-color: #db8194;
    background-image: url('./glass.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    cursor: pointer;
}



.small-rectangle {
    width: 539px;
    height: 87px;
    background-color: #e19ca9;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 90px; /* Actualización */
    margin-left: auto; /* Actualización */
    margin-right: auto; /* Actualización */
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-rectangle p {
    text-align: center;
    padding: 65px;
    color: #8c5f68;
}
