body {
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: #edeff2;
    font-family: "Arial", sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.centered-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.large-rectangle {
    width: 730px;
    height: 565px;
    background-color: #452f33;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.barra-superior {
    width: 730px;
    height: 130px;
    background-color: #853449;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: calc(50% - 292.5px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 359px;
    height: 111px;
}

.input-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 350%);
    z-index: 4;
}

.input-consulta {
    width: 425px;
    height: 30px;
    padding: 10px;
    background-color: #6a4a50;
    color: #edeff2;
    text-shadow: 0px 2px 0px rgba(0, 4, 0, 0.5);
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: left;
    border: none;
}

.input-consulta::placeholder {
    color: #edeff2;
    font-size: 20px;
    margin: 10px;
}

.enter-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-image: url('./wglass.png');
    background-repeat: no-repeat;
    background-color: #6a4a50;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.no-trago {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    z-index: 3;
}

.no-trago img {
    width: 350px;
}

.no-trago p {
    margin-top: 25px;
    font-size: 25px;
    color: #d0d0d0;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}

