body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: #edeff2;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
  }
  
  .centered-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .large-rectangle {
    width: 730px;
    height: 565px;
    background-color: #452f33;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .barra-superior {
    width: 730px;
    height: 130px;
    background-color: #853449;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: calc(50% - 292.5px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width: 359px;
    height: 111px;
  }
  
  .rectangle-options {
    width: 342px;
    height: 50px;
    background-color: #e19ca9;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -230px;
    margin-left: -350px;
    z-index: 4;
    position: absolute;
  }
  
  .rectangle-options::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 15px;
    bottom: 10px;
    left: 10px;
    background-image: url(./recipe.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
  }
  
  .back-button {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
  
.rectangle-name {
  position: relative;
  width: 342px;
  height: 50px;
  background-color: #db8194;
  background-image: url(../static/glass.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center; /* Orientación hacia la derecha con un margen de 10px */
  background-size: 35px auto;

  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: -230px;
  margin-left: 350px;
  z-index: 4;
}


.text-output-dos {
    color: #edeff2;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    margin-left: 20px;
    } 

.rectangle {
    width: 342px;
    height: 350px;
    background-color: #e19ca9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 170px;
    margin-left: -350px;
    z-index: 3; 
    overflow-y: scroll;
    scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
    scrollbar-color: #e19ca9 #853449; /* Color de la barra y del fondo */
    position: absolute;
  }
  
  .rectangle::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
  }
  
  .rectangle::-webkit-scrollbar-track {
    background-color: #e19ca9; /* Color del fondo de la barra de desplazamiento */
  }
  
  .rectangle::-webkit-scrollbar-thumb {
    background-color: #853449; /* Color de la barra de desplazamiento */
  }
  

  .text-output {
    color: #edeff2;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .rectangle-img {
    width: 342px;
    height: 342px;
    background-color: #e19ca9;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 180px;
    margin-left: 350px;
    z-index: 3; 
    position: absolute;
      }
  .foto {
    position: relative;
  }

.rectangle-draw {
        width: 60px;
        height: 50px;
        background-color: #e19ca9;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: -107px;
        margin-left: 627px;
        z-index: 5; 
        position: absolute;
        }
.rectangle-draw::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 15px;
    bottom: 10px;
    left: 10px;
    background-image: url(./camera.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
  }  
    

  