<!DOCTYPE html>
<html>
<head>
  <title>Recetario BRIXTON</title>
  <link rel="stylesheet" type="text/css" href="/static/styles2.css">
</head>

<body>
  <div class="container">
    <div class="centered-wrapper">
      <div class="large-rectangle"></div>
    </div>
    <div class="barra-superior">
      <img src="/static/nombre.png" alt="Imagen del trago" class="logo">
    </div>
    <div class="rectangle-name">
      <output class="text-output-dos"><%= query %></output> 
    </div> 
    <div class="rectangle-options">
      <div class="back-button">
        <a href="/" class="back-link"><img src="/static/flecha.png" alt="Botón de retroceso"></a>
      </div>
    </div>
    <div class="rectangle">
      <output class="text-output"><%- results %></output>
    </div>   
    <div class="rectangle-draw">
    </div>
    <div class="rectangle-img">
      <img src="<%= image_path %>" alt="Imagen del trago" class="foto">
    </div>    
  </div>
</body>
</html>
